* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: rgb(46, 134, 193);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--main-color);
}

.login-container {
  background: #fff;
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  width: 400px;
}

.login-header {
  text-align: center;
  margin-bottom: 2rem;
}

.login-header h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-bottom: 20px;
}

.login-header p {
  color: #666;
  font-size: 0.9rem;
}

.logo {
  max-width: 150px; /* sesuaikan dengan ukuran yang diinginkan */
  height: auto;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 25px;
}

.input-group input {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #eee;
  border-radius: 10px;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  background: transparent;
}

.input-group label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  padding: 0 5px;
  color: #666;
  font-size: 0.9rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-group input:focus ~ label,
.input-group input:not(:placeholder-shown) ~ label {
  top: 0;
  font-size: 0.9rem;
  border-radius: 50px;
  color: #666;
}

.input-group input:focus {
  border-color: var(--main-color);
  outline: none;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  padding-right: 40px;
}

.input-wrapper i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  transition: color 0.3s ease;
}

.input-wrapper i:hover {
  color: var(--main-color);
}

.login-button {
  width: 100%;
  padding: 12px;
  background: var(--main-color);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid var(--main-color);
}

.login-button:hover {
  background: #fff;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #666;
}
